<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>style}}
</head>
<body>
    <div class="container">
        <div class="document">
            {{>header title="Password created"}}
            <div class="letter">
                <div class="letter_title">
                    Dear {{firstName}}
                </div>
                Hello! Thank you for using our service.<br>
                Your password has been successfully created.<br>
            </div>
            {{>footer}}
        </div>
    </div>
</body>
</html>