.air_content_section {
    width: 100%;

    .air_content_section__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        .air_content_section__title {
            font-size: 1rem;
            font-weight: bold;
        }

        .air_content_section__main {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
        }

    }
}