.module {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .module__inner {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;

        .module_bar__container {
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 64px;
            left: 0;
            bottom: 0;
            z-index: 1000;
            width: 64px;
            height: calc(100% - 64px);
        }

        .page__container {
            display: flex;
            flex-direction: column;
            width: calc(100% - 64px);
            height: auto;
            min-height: calc(100vh - 64px);
            margin-left: 64px;
        }
    }
}